<%- include ../layout/backOffice/header.ejs %>
<div class="container" style="margin-top: 75px;">
  <a href="/usuarios/" class="btn btn-primary">Regresar</a>
    <br /><br />
    <h2>Editar usuario</h2>
    <form action="../actualizar/" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="id" value="<%= usuarios.id %> ">
      <div class="form-group">
        <label for="my-input">Nombre:</label>
        <input id="my-input" class="form-control" type="text" name="nombre" value="<%= usuarios.nombre %> " required/>
      </div><br>
      <div class="form-group">
        <label for="my-input">Email:</label>
        <input id="my-input" class="form-control" type="email" name="email" value="<%= usuarios.email %> " required/>
      </div><br>
      <div class="form-group">
        <label for="my-input">Contraseña:</label>
        <input id="my-input" class="form-control" type="password" name="pass" value="<%= usuarios.pass %> " required/>
      </div><br>
      <div class="form-group">
        <label for="my-input">Imagen:</label>
        <img class="img-thumbnail" src="../../images/<%= usuarios.imagen %>" width="100" alt="">
        <input id="my-input" class="form-control-file" type="file" name="imagen"/>
      </div>
      <br>
      <div class="form-group">
        <label for="my-input">Permisos:</label><br />
        <% if(usuarios.inicio == 'inicio' ) { %> 
          <div>
            <input id="my-input" class="" type="checkbox" value="inicio" checked name="inicio" />
            <label for="">Sección de inicio</label>
          </div>
        <% } else { %> 
          <div>
            <input id="my-input" class="" type="checkbox" value="inicio" name="inicio" />
            <label for="">Sección de inicio</label>
          </div>
        <% } %>
  
        <% if(usuarios.fotos == 'fotos' ) { %> 
          <div>
            <input id="my-input" class="" type="checkbox" value="fotos" checked name="fotos" />
            <label for="fotos">Sección de fotos</label>
          </div>
        <% } else { %> 
          <div>
            <input id="my-input" class="" type="checkbox" value="fotos" name="fotos" />
            <label for="fotos">Sección de fotos</label>
          </div>
        <% } %>
  
        <% if(usuarios.ilustraciones == 'ilustraciones' ) { %> 
          <div>
            <input id="my-input" class="" type="checkbox" value="ilustraciones" checked name="ilustraciones" />
            <label for="ilustraciones">Sección de ilustraciones</label>
          </div>
        <% } else { %> 
          <div>
            <input id="my-input" class="" type="checkbox" value="ilustraciones" name="ilustraciones" />
            <label for="ilustraciones">Sección de ilustraciones</label>
          </div>
        <% } %>
  
        <% if(usuarios.juegosdemesa == 'juegosdemesa' ) { %> 
          <div>
            <input id="my-input" class="" type="checkbox" value="juegosdemesa" checked name="juegosdemesa" />
            <label for="juegosdemesa">Sección de juedos de mesa</label>
          </div>
        <% } else { %> 
          <div>
            <input id="my-input" class="" type="checkbox" value="juegosdemesa" name="juegosdemesa" />
            <label for="juegosdemesa">Sección de juedos de mesa</label>
          </div>
        <% } %>
  
        <% if(usuarios.videojuegos == 'videojuegos' ) { %> 
          <div>
            <input id="my-input" class="" type="checkbox" value="videojuegos" checked name="videojuegos" />
            <label for="videojuegos">Sección de videojuegos</label>
          </div>
        <% } else { %> 
          <div>
            <input id="my-input" class="" type="checkbox" value="videojuegos" name="videojuegos" />
            <label for="videojuegos">Sección de videojuegos</label>
          </div>
        <% } %>
      </div>
      <br />
      <button class="btn btn-primary" type="submit">Guardar</button>
    </form>
    <br>
    <br>
</div>
<%- include ../layout/backOffice/footer.ejs %>
