<%- include ../layout/backOffice/header.ejs %>
  <div class="container" style="margin-top: 75px;">
    <a href="/usuarios/crear" class="btn btn-primary">Crear nuevo usuario</a>
    <br /><br />

    <table class="table table-striped ">
      <thead class="table-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Correo electronico</th>
          <th scope="col">Permisos</th>
          <th scope="col">Imagen</th>

          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% for( let usuario=0; usuario < usuarios.length; usuario++ ) { %>
          <tr>
            <td>
              <%=usuarios[usuario].nombre %>
            </td>
            <td>
              <%=usuarios[usuario].email %>
            </td>
            <td><%=usuarios[usuario].inicio%>, <%=usuarios[usuario].fotos%>, <%=usuarios[usuario].ilustraciones%>, <%=usuarios[usuario].juegosdemesa%>, <%=usuarios[usuario].videojuegos%>     </td>
            <!-- <td>
              <input type="password" name="" id="" disabled style="border: none;" value="<%=usuarios[usuario].pass %>">
            </td> -->
            <td>
              <img class="img-thumbnail" width="100" src="/images/<%=usuarios[usuario].imagen %>" alt="" />
            </td>
            <td class="columna">
              <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <form class="form-inline" method="GET" action="/usuarios/editar/<%=usuarios[usuario].id %>">
                  <button class="btn btn-warning text-white d-flex" type="submit">
                    <span style="margin-right: 5px;">Editar</span>
                    <box-icon type='solid' name='edit-alt' color='white'></box-icon>
                  </button>
                </form>
              </div>
              <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <form class="form-inline" method="POST" action="/usuarios/eliminar/<%=usuarios[usuario].id %>">
                  <button class="btn btn-danger text-white d-flex" type="submit">
                    <span style="margin-right: 5px;">Eliminar</span>
                    <box-icon name='trash' color='white'></box-icon>
                  </button>
                </form>
              </div>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
    <%- include ../layout/backOffice/footer.ejs %>
  </div>